<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="container">
            <ul class="nav nav-horizontal">
                <li><a href="#/home"><i class="fa fa-home"></i></a></li>
                {{#collection breadcrumbs}}
                    {{#link}}
                        <li><a href="{{../link}}">{{../name}}</a></li>
                    {{else}}
                        <li><span>{{../name}}</span></li>
                    {{/link}}
                {{/collection}}
            </ul>
        </div>
    </div>
</div>