<div class="container">
    <ul class="offer-list horizontal clearfix" id="home-offer">
    {{#collection offers}}
        <li class="col-lg-3 col-sm-4 col-xs-6" id="offer-{{id}}">
            {{> homeOffer}}
        </li>
    {{/collection}}
    </ul>
</div>